<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/appointment.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab&family=Ubuntu&display=swap"
    rel="stylesheet">
  <title>Doc-fnt-pg</title>
</head>

<body>
  <div class="navbar">
    <span class="nav-left">
      <a href="#" class="navbar-logo">MediLance</a>
      <input type="text" placeholder="Search" class="navbar-search">
    </span>
    <span class="nav-right">
        <a href="/patient/home">Home</a>
        <a href="/">Appointments</a>
        <a href="/chat">Messaging</a>
        <a href="/">Notifications</a>
        <a href="/signout">Sign Out</a>
    </span>
  </div>
  <div id="container">
    <div class="appointment">
      <form action="/saveAppointment" method="post">
        <h1 class="appointment-heading">Book Your Appointment</h1>
        <div>Which day would you prefer for appointment?</div>
        <input type="date" name="appointment_date" id="appointment-date">
        
        <div>What time would you prefer for appointment?</div>
        <input type="time" name="appointment_time" id="appointment-time">
        
        <p>Health Issues:
            <textarea name="post" placeholder="What's causing you problem?"></textarea>
        </p>
        <input type="text" name="doctor" value="<%=doctor%>" hidden>
        <input type="text" name="patient" value="<%=patient%>" hidden>
        <input type="text" name="direction" value="<%=direction%>" hidden>
        
        <button class="confirm-appointment-btn" type="submit">Confirm Appointment</button>
      </form>
    </div>
  </div>
</body>
</html>