<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/user_post.css">
</head>
<body>
    <div class="contain">
        <div class="post">
            <div class="prof">
                <img src="C:\Users\kumar\Downloads\post1/rishab.jpg" alt="Suggested Profile 1" class="suggested-profile-image">
                <div class="info">
                  <div class="name">User</div>
                  <div class="title">Post</div>
                </div>
        </div>
        <div id="line"></div>
        <form action="/patient/addPost" method="post">
            <div>
                <textarea name="content" placeholder="What's on your mind ?"></textarea>
            </div>
            <div>
                <button class="but11"><i class="fa-solid fa-image"></i></button>
                <button class="but11"><i class="fa-regular fa-calendar-days"></i></i></button>
                <button class="but11"><i class="fa-regular fa-file"></i></i></button>
            </div>
            <div id="line"></div>
            <div class="butt11">
                <button class="but12"><i class="fa-regular fa-clock"></i></button>
            <button type="submit" class="but13">Post</button>
        </form>
        </div>  
    </div>
</body>
</html>