@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'poppins' , sans-serif;
}

.appointment-heading{
    text-align: center;
    text-decoration: underline;
}
.appointment-box{
    margin-left: 32%;
    margin-top: 8%;
}

.appointment{
    /* background-color: rgb(111, 159, 231); */
    border: 2px solid black;
    width: 23rem;
    border-radius: 34px;
    margin-left: 34px;
    padding-left: 43px;
    padding-right: 43px;
    font-family: 'poppins' , sans-serif;
    padding-bottom: 4px;
}

p{
    display: grid;
}

textarea{
    height: 230px;
    width: 23rem;
    padding-top: 5px;
    resize: none;
    border: transparent;
    font-size: large;
    background-color: white;
    font-family: 'poppins' , sans-serif;
}

.confirm-appointment-btn{
    background-color: rgb(82, 132, 219);
    color: white;
    width: auto;
    height: 38px;
    border: 2px solid white;
    border-radius: 34px;
    font-family: 'poppins' , sans-serif;
    margin-left: 111px;
}
.confirm-appointment-btn:hover{
    background-color: rgb(40, 43, 131);
}